<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>

<body>

    <head>
        <nav class="w-full p-4 bg-background_card h-16 flex flex-row items-center flex-nowrap">
            <span class="username_span text-md font-bold text-text_primary flex-1">Default</span>
            <button class="px-4" data-modal-target="edit_user_modal" data-modal-toggle="edit_user_modal">
                <svg class="text-text_primary dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M5 8a4 4 0 1 1 7.796 1.263l-2.533 2.534A4 4 0 0 1 5 8Zm4.06 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h2.172a2.999 2.999 0 0 1-.114-1.588l.674-3.372a3 3 0 0 1 .82-1.533L9.06 13Zm9.032-5a2.907 2.907 0 0 0-2.056.852L9.967 14.92a1 1 0 0 0-.273.51l-.675 3.373a1 1 0 0 0 1.177 1.177l3.372-.675a1 1 0 0 0 .511-.273l6.07-6.07a2.91 2.91 0 0 0-.944-4.742A2.907 2.907 0 0 0 18.092 8Z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </nav>
    </head>
    <main class="flex flex-col px-4 lg:px-20 py-20 min-h-screen bg-grey-800 bg-background">
        {% block content %}{% endblock %}
    </main>

    <!-- modal -->
    <div id="edit_user_modal" tabindex="-1" aria-hidden="true"
        class=" data-modal-target hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <form class="max-w-sm mx-auto p-4 bg-background_card flex flex-col gap-4">
                <div class="mb-5 class flex flex-col gap-2">
                    <label for="username" class="block mb-2 text-sm font-medium text-text_secondary dark:text-white">Nombre de usuario</label>
                    <input type="text" name="username"
                        class="bg-background_dark border border-background text-text_secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="min 1 - max 25" required min="1" max="25"/>
                </div>
                <button type="submit" data-modal-hide="edit_user_modal" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Guardar</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>